In [38]:
import numpy as np
import pandas as pd

In [39]:
product = pd.read_csv('data/products.csv')
product.head(2)

,Name,Price,Description,Category
0,Hand-Painted Ceramic Vase,45.99,A beautifully hand-painted ceramic vase with i...,Home Decor
1,Wooden Carved Elephant,29.50,A small wooden elephant intricately carved by ...,Home Decor

In [40]:
product.shape

(99, 4)

In [41]:
product.iloc[0]['Category']

'Home Decor'

In [42]:
product['Description']=product['Description'].apply(lambda x:x.split())
product.head()

,Name,Price,Description,Category
0,Hand-Painted Ceramic Vase,45.99,"[A, beautifully, hand-painted, ceramic, vase, ...",Home Decor
1,Wooden Carved Elephant,29.50,"[A, small, wooden, elephant, intricately, carv...",Home Decor
2,Handwoven Cotton Scarf,22.00,"[A, soft, and, colorful, handwoven, scarf, mad...",Apparel
3,Glass Bead Necklace,35.75,"[A, delicate, necklace, made, from, hand-strun...",Jewelry
4,Embroidered Cushion Cover,18.00,"[A, vibrant, cushion, cover, with, detailed, h...",Home Decor

In [43]:
product['Category']=product['Category'].apply(lambda x:x.split())
product.head()

,Name,Price,Description,Category
0,Hand-Painted Ceramic Vase,45.99,"[A, beautifully, hand-painted, ceramic, vase, ...","[Home, Decor]"
1,Wooden Carved Elephant,29.50,"[A, small, wooden, elephant, intricately, carv...","[Home, Decor]"
2,Handwoven Cotton Scarf,22.00,"[A, soft, and, colorful, handwoven, scarf, mad...",[Apparel]
3,Glass Bead Necklace,35.75,"[A, delicate, necklace, made, from, hand-strun...",[Jewelry]
4,Embroidered Cushion Cover,18.00,"[A, vibrant, cushion, cover, with, detailed, h...","[Home, Decor]"

In [44]:
def remove_space(word):
    l=[]
    for i in word:
        l.append(i.replace(" ",""))
    return l

In [45]:
product.iloc[0]['Description']

['A',
 'beautifully',
 'hand-painted',
 'ceramic',
 'vase',
 'with',
 'intricate',
 'floral',
 'designs.']

In [46]:
product.head()

,Name,Price,Description,Category
0,Hand-Painted Ceramic Vase,45.99,"[A, beautifully, hand-painted, ceramic, vase, ...","[Home, Decor]"
1,Wooden Carved Elephant,29.50,"[A, small, wooden, elephant, intricately, carv...","[Home, Decor]"
2,Handwoven Cotton Scarf,22.00,"[A, soft, and, colorful, handwoven, scarf, mad...",[Apparel]
3,Glass Bead Necklace,35.75,"[A, delicate, necklace, made, from, hand-strun...",[Jewelry]
4,Embroidered Cushion Cover,18.00,"[A, vibrant, cushion, cover, with, detailed, h...","[Home, Decor]"

In [47]:
product.head(2)

,Name,Price,Description,Category
0,Hand-Painted Ceramic Vase,45.99,"[A, beautifully, hand-painted, ceramic, vase, ...","[Home, Decor]"
1,Wooden Carved Elephant,29.50,"[A, small, wooden, elephant, intricately, carv...","[Home, Decor]"

In [48]:
product['tags'] = product['Description']+product['Category']

In [49]:
product.head

<bound method NDFrame.head of                                 Name  Price  \
0          Hand-Painted Ceramic Vase  45.99
1             Wooden Carved Elephant  29.50
2             Handwoven Cotton Scarf  22.00
3                Glass Bead Necklace  35.75
4          Embroidered Cushion Cover  18.00
..                               ...    ...
94          Leather Handmade Journal  45.00
95          Handcrafted Ceramic Bowl  28.00
96                Knitted Woolen Hat  22.00
97           Handwoven Bamboo Basket  30.00
98  Beaded Necklace and Bracelet Set  40.00

                                          Description       Category  \
0   [A, beautifully, hand-painted, ceramic, vase, ...  [Home, Decor]
1   [A, small, wooden, elephant, intricately, carv...  [Home, Decor]
2   [A, soft, and, colorful, handwoven, scarf, mad...      [Apparel]
3   [A, delicate, necklace, made, from, hand-strun...      [Jewelry]
4   [A, vibrant, cushion, cover, with, detailed, h...  [Home, Decor]
..                                                ...            ...
94  [A, journal, hand-stitched, from, leather, wit...   [Stationery]
95      [A, bowl, made, from, hand-painted, ceramic.]  [Kitchenware]
96          [A, hat, hand-knitted, from, soft, wool.]      [Apparel]
97  [A, basket, woven, from, natural, bamboo, fibe...  [Home, Decor]
98  [A, matching, set, of, necklace, and, bracelet...      [Jewelry]

                                                 tags
0   [A, beautifully, hand-painted, ceramic, vase, ...
1   [A, small, wooden, elephant, intricately, carv...
2   [A, soft, and, colorful, handwoven, scarf, mad...
3   [A, delicate, necklace, made, from, hand-strun...
4   [A, vibrant, cushion, cover, with, detailed, h...
..                                                ...
94  [A, journal, hand-stitched, from, leather, wit...
95  [A, bowl, made, from, hand-painted, ceramic., ...
96  [A, hat, hand-knitted, from, soft, wool., Appa...
97  [A, basket, woven, from, natural, bamboo, fibe...
98  [A, matching, set, of, necklace, and, bracelet...

[99 rows x 5 columns]>

In [50]:
product.head(2)

,Name,Price,Description,Category,tags
0,Hand-Painted Ceramic Vase,45.99,"[A, beautifully, hand-painted, ceramic, vase, ...","[Home, Decor]","[A, beautifully, hand-painted, ceramic, vase, ..."
1,Wooden Carved Elephant,29.50,"[A, small, wooden, elephant, intricately, carv...","[Home, Decor]","[A, small, wooden, elephant, intricately, carv..."

In [51]:
product.iloc[0]['tags']

['A',
 'beautifully',
 'hand-painted',
 'ceramic',
 'vase',
 'with',
 'intricate',
 'floral',
 'designs.',
 'Home',
 'Decor']

In [52]:
new_df = product[['Name','Price','tags']]
new_df.head()

,Name,Price,tags
0,Hand-Painted Ceramic Vase,45.99,"[A, beautifully, hand-painted, ceramic, vase, ..."
1,Wooden Carved Elephant,29.50,"[A, small, wooden, elephant, intricately, carv..."
2,Handwoven Cotton Scarf,22.00,"[A, soft, and, colorful, handwoven, scarf, mad..."
3,Glass Bead Necklace,35.75,"[A, delicate, necklace, made, from, hand-strun..."
4,Embroidered Cushion Cover,18.00,"[A, vibrant, cushion, cover, with, detailed, h..."

In [53]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\HP\AppData\Local\Temp\ipykernel_16028\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [54]:
new_df.head()

,Name,Price,tags
0,Hand-Painted Ceramic Vase,45.99,A beautifully hand-painted ceramic vase with i...
1,Wooden Carved Elephant,29.50,A small wooden elephant intricately carved by ...
2,Handwoven Cotton Scarf,22.00,A soft and colorful handwoven scarf made from ...
3,Glass Bead Necklace,35.75,A delicate necklace made from hand-strung glas...
4,Embroidered Cushion Cover,18.00,A vibrant cushion cover with detailed hand emb...

In [55]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\HP\AppData\Local\Temp\ipykernel_16028\1380776331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [56]:
new_df.head()

,Name,Price,tags
0,Hand-Painted Ceramic Vase,45.99,a beautifully hand-painted ceramic vase with i...
1,Wooden Carved Elephant,29.50,a small wooden elephant intricately carved by ...
2,Handwoven Cotton Scarf,22.00,a soft and colorful handwoven scarf made from ...
3,Glass Bead Necklace,35.75,a delicate necklace made from hand-strung glas...
4,Embroidered Cushion Cover,18.00,a vibrant cushion cover with detailed hand emb...

In [57]:
!pip uninstall nltk -y
!pip uninstall regex -y

Found existing installation: nltk 3.8.1
Uninstalling nltk-3.8.1:
  Successfully uninstalled nltk-3.8.1
Found existing installation: regex 2024.7.24
Uninstalling regex-2024.7.24:
  Successfully uninstalled regex-2024.7.24

WARNING: Failed to remove contents in a temporary directory 'C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\~-gex'.
You can safely remove it manually.

In [58]:
!pip install nltk regex

Defaulting to user installation because normal site-packages is not writeable
Collecting nltk
  Using cached nltk-3.8.1-py3-none-any.whl.metadata (2.8 kB)
Collecting regex
  Using cached regex-2024.7.24-cp312-cp312-win_amd64.whl.metadata (41 kB)
Requirement already satisfied: click in c:\users\hp\appdata\roaming\python\python312\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\hp\appdata\roaming\python\python312\site-packages (from nltk) (1.4.2)
Requirement already satisfied: tqdm in c:\users\hp\appdata\roaming\python\python312\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in c:\users\hp\appdata\roaming\python\python312\site-packages (from click->nltk) (0.4.6)
Using cached nltk-3.8.1-py3-none-any.whl (1.5 MB)
Using cached regex-2024.7.24-cp312-cp312-win_amd64.whl (269 kB)
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2024.7.24

In [59]:
import nltk
from nltk.stem import PorterStemmer
ps = PorterStemmer()
def stems(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [60]:
new_df['tags'] = new_df['tags'].apply(stems)

C:\Users\HP\AppData\Local\Temp\ipykernel_16028\3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [61]:
new_df.iloc[0]['tags']

'a beauti hand-paint ceram vase with intric floral designs. home decor'

In [62]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words= 'english')

In [63]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [64]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [65]:
vector.shape

(99, 177)

In [66]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.31622777, 0.        , ..., 0.12909944, 0.23904572,
        0.1118034 ],
       [0.31622777, 1.        , 0.        , ..., 0.        , 0.25197632,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.3086067 , 0.        ,
        0.        ],
       ...,
       [0.12909944, 0.        , 0.3086067 , ..., 1.        , 0.        ,
        0.14433757],
       [0.23904572, 0.25197632, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.1118034 , 0.        , 0.        , ..., 0.14433757, 0.        ,
        1.        ]])

In [67]:
similarity.shape

(99, 99)

In [68]:
def recommend(movie):
    index = new_df[new_df['Name'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True, key = lambda x:x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].Name)

In [71]:
recommend('Embroidered Cushion Cover')

Hand-Embroidered Tablecloth
Embroidered Wall Hanging
Embroidered Cotton Table Runner
Hand-Painted Glass Vase
Wooden Carved Mask

In [70]:
import pickle
pickle.dump(new_df, open('artifacts/product_list.pkl','wb'))
pickle.dump(similarity, open('artifacts/similarity.pkl','wb'))